<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
</head>
<body>

    <h2>Motor Bikes Dealer<h2>
    <form action="/show" method="POST">
        <input type="text" placeholder="Model" name="model">
        <input type="text" placeholder="Brand" name="brand">
        <input type= 0 placeholder="Year" name="year">
        <input type="text" placeholder="EngineSize" name="engineSize">
        <input type= true placeholder="Availability" name="availability">
        <button type="submit">Submit</button>
    </form> 

</body>
</html>
